.btn {
    display: inline-flex;
    height: 55px;
    color: $black;
    border-radius: 10px;
    background: $grad;
    border: 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 1em;
    padding-left: 1em;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    &:hover {
        background: #21CE92;
        color: #fff;
    }


    &.btn-gray {
        background: #2B2D2D;
        color: #fff;
        border: 1px solid transparent;
        &:hover {
            background: transparent;
            border-color: #fff;
        }
        &.active {
            border-color: $green1;
            color: $green1;
            background: transparent;
        }
    }

    @media(max-width: $sm) {
        &.btn-gray {
            height: 35px;
            font-size: 14px;
            line-height: 1em;
        }  
    }
}

input:checked + .btn-gray,
input:checked + .btn-gray:focus,
input:checked + .btn-gray:hover {
    border-color: $green1;
    color: $green1;
    background: transparent;
}