// Intro -------------------- 

.sec-intro {
    position: relative;
    padding-top: 20px;
    padding-bottom: 60px;

    @include text-18();
    z-index: 1;
    
    .btn {
        margin-top: 36px;
    }

    h1 {
        margin-bottom: 30px;
    }

    @media(min-width: $lg) {
        padding: 80px 0 70px;
    }

    @media(min-width: $xl) {
        padding: 100px 0 95px;
    }

}

// Cards -------------------- 

.sec-cards {
    padding-bottom: 60px;
    @media(min-width: $lg) {
        padding-bottom: 100px;
    }
}

.sec-cards__filter {
    margin-bottom: 24px;
    input {
        display: none;
    }
    .btn {
        margin: 0 16px 16px 0;

        .number {
            font-weight: normal;
            opacity: 0.75;
        }
    }
    @media(min-width: $lg) {
        margin-bottom: 32px;
    }
    @media(max-width: $max-sm) {
        .btn {
            margin: 0 12px 12px 0;
        }
    }
}

.sec-cards__item {
    margin-bottom: 30px;
    position: relative;
    background-color: $gray;
    height: 409px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border-color 0.2s ease, box-shadow 0.2 ease;
    padding-top: 32px;

    &:hover {
        .back {
            opacity: 1;
        }
    }

    .front,
    .back {
        position: relative;
        border-radius: 10px;
        height: 100%;
    }

    .back {
        position: absolute;
        background-color: $gray;
        top: 0;
        width: 100%;
        padding: 32px 24px;
        font-size: 16px;
        line-height: 140%;
        z-index: 2;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:hover {
        border-color: $green2;
        box-shadow: 0px 0px 30px rgba(102, 253, 208, 0.4);
        border-radius: 10px;
    }

    .img {
        width: 190px;
        height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        border-radius: 50%;
        padding: 20px;
        border: 10px solid $black;
        img {
            display: block;
            max-width: 100%;
            max-height: 100%;
        }

        &.white {
            background-color: #fff;
        }
        &.black {
            background-color: $black;

        }
    }

    .title {
        position: absolute;
        bottom: 87px;
        left: 24px;
        right: 24px;
        text-align: center;

        .name {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 16px;
        }
    }

    .text {
        p {
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .links {
        position: absolute;
        bottom: 32px;
        left: 24px;
        right: 24px;
        font-size: 0;
        line-height: 0;
        a {
            display: inline-block;
            text-decoration: none;
            margin-right: 12px;
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
}


//- Backgounds 


.sec-bg {
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
    
    &.bg-left {
        left: 0;
    }

    &.bg-right {
        right: 0;
    }

    img {
        display: block;
    }
}

.sec-intro {
    .bg-left {
        top: 40px;
    } 
    .bg-right {
        top: 0;
        transform: translate(10%, -35%);
    }
}


.sec-form {
    .sec-bg {
        bottom: -50px;
        opacity: 0.4;
    } 
}


// Form --------------------

.sec-form {
    position: relative;
    padding: 50px 0;
    z-index: 1;
    h2 {
        margin-bottom: 20px;
    }

    @media(min-width: $lg) {
        padding: 70px 0;
        h2 {
            margin-bottom: 30px;
            font-size: 48px;
        }
    }

    @media(min-width: $xl) {
        padding: 100px 0 100px;
    }
}

.form__socials {
    margin-top: 60px;
    .socials {
        flex-wrap: wrap;
        margin-left: -6px;
        li {
            padding: 0 6px 12px;
            img {
                width: 35px;
                height: 35px;
            }
        }
    }

    @media(min-width: $xl) {
        margin-top: 100px;
        .socials li img {
            width: 40px;
            height: 40px;
        }
    }
}


.sec-cards__item .links .network__item {
    margin: 4px!important;
}

.sec-cards__item .links .network__item:first-child,
.sec-cards__item .links .network__item:nth-child(2),
.sec-cards__item .links .network__item:nth-child(3) {
    display: none;
}


.sec-cards__item .front .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 9px;
} 

.links .network__item img {
    width: 25px;
    height: 25px;
    filter: grayscale(100);
}