doctype html
html
    head
        title Utility, smart, programmable NFTs
        meta(charset="UTF-8")
        meta(name="description", content="Dapp where you can learn everything about programmable assets and NFT 2.0")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property='og:image' content='https://nft2.envelop.is/pics/envelop-social-large.png')
        link(rel='apple-touch-icon' sizes='180x180' href='../pics/favicon/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='../pics/favicon/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='../pics/favicon/favicon-16x16.png')
        link(rel='manifest' href='../pics/favicon/site.webmanifest')
        link(rel='mask-icon' href='../pics/favicon/safari-pinned-tab.svg' color='#5bbad5')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='theme-color' content='#ffffff')
        meta(name='msapplication-TileColor' content='#da532c')
        meta(name='theme-color' content='#ffffff')
        meta(property='og:image' content='https://nft20.envelop.is/pics/envelop-social-large.png')
        meta(property='og:image' content='image/png')
        meta(property='og:image:width' content='1200')
        meta(property='og:image:height' content='630')
        meta(property='twitter:image' content='https://nft2.envelop.is/pics/envelop-social-large.png')
        meta(property='twitter:card' content='summary_large_image')
        meta(property='og:url' content='https://nft2.envelop.is/')
        meta(property='og:locale' content='en_US')      
        link(rel="stylesheet", href="../css/styles.min.css")


    body
        div.wrapper
            header.s-header
                div.container
                    //noindex
                    a(href="http://envelop.is" target="_blank").header__logo.scroll-link
                        img(src="../pics/logo.svg", alt="logo envelop")
                    ///noindex
                    //noindex
                    a(href="http://app.envelop.is" target="_blank").btn.btn-app.d-lg-none App
                    a(href="http://envelop.is/dapps" target="_blank").btn.btn-app.d-lg-none Our dApps
                    ///noindex
                    div.header__nav
                        a(href="http://app.envelop.is" target="_blank").btn.btn-app.d-none.d-lg-flex.order-lg-2 App
                        a(href="http://envelop.is/dapps" target="_blank").btn.btn-app.d-none.d-lg-flex.order-lg-2 Our dApps
                        div.order-lg-3
                            //noindex
                            ul.socials
                            
                                li
                                    a(href="https://t.me/envelop_en"  rel="nofollow" target="_blank" title="Telegram")
                                        img(src="../pics/socials/telegram.svg" alt="ENVELOP telegram group")
                                li
                                    a(href="https://www.youtube.com/@envelop?sub_confirmation=1"   rel="nofollow" target="_blank" title="YouTube")
                                        img(src="../pics/socials/youtube.svg" alt="ENVELOP. NFTs YouTube Channel")
                                li
                                    a(href="https://www.linkedin.com/company/niftsy"  rel="nofollow" target="_blank" title="LinkedIn")
                                        img(src="../pics/socials/linkedin.svg" alt="NIFTSY is token")                                
                                li
                                    a(href="https://www.reddit.com/r/ENVELOP_NIFTSY/"  rel="nofollow" target="_blank" title="Reddit")
                                        img(src="../pics/socials/reddit.svg" alt="ENVELOP Reddit")
                                li
                                    a(href="https://discord.gg/gtYcjqq76f" rel="nofollow" target="_blank" title="Discord")
                                        img(src="../pics/socials/discord.svg" alt="ENVELOP Discord group")                                    
                                li
                                    a(href="https://envelop.medium.com/"  rel="nofollow" target="_blank" title="Medium")
                                        img(src="../pics/socials/medium.svg" alt="Blog about Web 3.0")
                                li
                                    a(href="https://twitter.com/Envelop_project"  rel="nofollow" target="_blank" title="Twitter")
                                        img(src="../pics/socials/twitter.svg" alt="Our twitter")
                                li
                                    a(href="https://t.me/nonfungible_web" rel="nofollow" target="_blank" title="Telegram (DeWeb)")
                                        img(src="../pics/socials/dw-telegram.svg" alt="ENVELOP telegram group (DeWeb)")
                            ///noindex

            main.s-main
                section.sec-intro
                    img(src="../pics/bg/bg-lg-left-1.svg", alt="").sec-bg.bg-left.d-none.d-xl-block
                    img(src="../pics/bg/bg-lg-right-6.svg", alt="").sec-bg.bg-right.d-none.d-xl-block
                    div.container
                        div.row 
                            div.col-lg-5 
                                h1 NFT 2.0 aggregator. 
                                    span.text-grad First in Web 3.0   
                            div.col-lg-6
                                p On this page, you can find various projects in the NFT 2.0 sphere, also known as Utility NFTs, Smart NFTs, and programmable NFTs. To be more specific, NFT 2.0 includes financial, dynamic, wrapped (or charged), and many other types of non-fungible tokens. NFT 2.0 tokens themselves are part of programmable assets.
                                p The ENVELOP ecosystem 

                section.sec-cards 
                    div.container 
                        div.sec-cards__filter 

                            label.filter-tag
                                input(type="radio" name="category" value="all" checked)
                                span.btn.btn-gray All
                    
                            label.filter-tag
                                input(type="radio" name="category" value="protocol")
                                span.btn.btn-gray Protocol
                    
                            label.filter-tag
                                input(type="radio" name="category" value="token")
                                span.btn.btn-gray Token
                    
                            label.filter-tag
                                input(type="radio" name="category" value="index")
                                span.btn.btn-gray Index
                        

                        div.row 
                            each item in ecosystem
                            
                                div(class="col-12 col-md-6 col-lg-4 col-xl-3 col-card " +  item.type.toLowerCase())  
                                    div.sec-cards__item 
                                        div.front 
                                            div(class="img " +item.bg) 
                                                img(src=item.logo, alt="")
                                            .title 
                                                .name= item.name
                                                .tag= item.type
                                            div.links 
                                                - links =  item.links 
                                                
                                                each val, index in links
                                                    //noindex
                                                    a(href=val, title="", target="_blank", rel="nofollow").network__item 
                                                        - type = index 
                                                        // так лучше видно, какие логотипы соцсетей у нас есть
                                                        case type
                                                            when "aurora"
                                                                img(src="../pics/network/aurora.svg", alt="") 
                                                            when "avalanche"
                                                                img(src="../pics/network/avalanche.svg", alt="") 
                                                            when "bsc"  
                                                                img(src="../pics/network/BSC.svg", alt="")  
                                                            when "eth"  
                                                                img(src="../pics/network/eth.svg", alt="") 
                                                            when "evm"  
                                                                img(src="../pics/network/EVM.svg", alt="") 
                                                            when "harmony"  
                                                                img(src="../pics/network/harmony.svg", alt="") 
                                                            when "near" 
                                                                img(src="../pics/network/near.svg", alt="")  
                                                            when "polygon" 
                                                                img(src="../pics/network/polygon.svg", alt="")
                                                            when "eth" 
                                                                img(src="../pics/network/tether.svg", alt="")  
                                                            when "wax" 
                                                                img(src="../pics/network/Wax.svg", alt="")
                                                            when "zilliqa" 
                                                                img(src="../pics/network/zilliqa.svg", alt="")                                                                 
                                                            default
                                                                span=type    
                                        div.back
                                            .text 
                                                p= item.description 
                                                p 
                                                    a(href=item.docs, target="_blank").external-link Docs
                                                        svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                                            path(d='M15.8333 15.8333H4.16667V4.16667H10V2.5H4.16667C3.24167 2.5 2.5 3.25 2.5 4.16667V15.8333C2.5 16.75 3.24167 17.5 4.16667 17.5H15.8333C16.75 17.5 17.5 16.75 17.5 15.8333V10H15.8333V15.8333ZM11.6667 2.5V4.16667H14.6583L6.46667 12.3583L7.64167 13.5333L15.8333 5.34167V8.33333H17.5V2.5H11.6667Z')
                                            div.links 
                                                - links =  item.links 
                                                
                                                each val, index in links
                                                    //noindex
                                                    a(href=val, title="", target="_blank", rel="nofollow").links__item 
                                                        - type = index 
                                                        // так лучше видно, какие логотипы соцсетей у нас есть
                                                        case type
                                                            when "website"
                                                                img(src="../pics/socials/web.svg", alt="") 
                                                            when "facebook"
                                                                img(src="../pics/socials/facebook.svg", alt="") 
                                                            when "twitter"  
                                                                img(src="../pics/socials/twitter.svg", alt="")  
                                                            when "instagram"  
                                                                img(src="../pics/socials/instagram.svg", alt="") 
                                                            when "youtube"  
                                                                img(src="../pics/socials/youtube.svg", alt="") 
                                                            when "tiktok"  
                                                                img(src="../pics/socials/tiktok.svg", alt="") 
                                                            when "telegram" 
                                                                img(src="../pics/socials/telegram.svg", alt="")  
                                                            when "discord" 
                                                                img(src="../pics/socials/discord.svg", alt="")
                                                            when "github" 
                                                                img(src="../pics/socials/github.svg", alt="")  
                                                            when "reddit" 
                                                                img(src="../pics/socials/reddit.svg", alt="")
                                                            when "medium" 
                                                                img(src="../pics/socials/medium.svg", alt="")                                                                 
                                                            default
                                                                span=type
                                                    ///noindex

                div.divider.left


                section.sec-form
                    img(src="../pics/bg/bg-lg-right-5.svg", alt="").sec-bg.bg-right.d-none.d-xl-block
                    div.container
                        div.row
                            div.col-lg-12
                                h2.h1 Want to join the ENVELOP <span class="text-grad">Ecosystem</span>?
                  
                        form
                            div.form-apply
                                a(href="https://t.me/menaskop").btn Send an&nbsp;application
                        
                        div.form__socials
                            //noindex
                            ul.socials
                                li
                                    a(href="https://t.me/envelop_en" rel="nofollow" target="_blank" title="Telegram")
                                        img(src="../pics/socials/telegram.svg" alt="ENVELOP telegram group")
                                li
                                    a(href="https://www.youtube.com/@envelop?sub_confirmation=1" rel="nofollow" target="_blank" title="YouTube")
                                        img(src="../pics/socials/youtube.svg" alt="ENVELOP. NFTs YouTube Channel")
                                li
                                    a(href="https://www.linkedin.com/company/niftsy" rel="nofollow" target="_blank" title="LinkedIn")
                                        img(src="../pics/socials/linkedin.svg" alt="NIFTSY is token")        
                                li
                                    a(href="https://t.me/envelop_cn" rel="nofollow" target="_blank" title="Telegram (China)")
                                        img(src="../pics/socials/cn-telegram.svg" alt="ENVELOP telegram group (China)")
                                li
                                    a(href="https://t.me/envelop_rus" rel="nofollow" target="_blank" title="Telegram (Russia)")
                                        img(src="../pics/socials/telegram.svg" alt="ENVELOP telegram group (Russia)")
                                li
                                    a(href="https://github.com/niftsy/niftsysmarts" rel="nofollow" target="_blank" title="Github")
                                        img(src="../pics/socials/github.svg" alt="Github of our NFT project")
                                li
                                    a(href="https://www.tiktok.com/@envelop.is" rel="nofollow" target="_blank" title="TikTok")
                                        img(src="../pics/socials/tiktok.svg" alt="ENVELOP TikTok Channel") 
                                li
                                    a(href="http://Instagram.com/envelop_project" rel="nofollow" target="_blank" title="Instagram")
                                        img(src="../pics/socials/instagram.svg" alt="Instagram envelop.project")
                                li
                                    a(href="https://www.reddit.com/r/ENVELOP_NIFTSY/" rel="nofollow" target="_blank" title="Reddit")
                                        img(src="../pics/socials/reddit.svg" alt="ENVELOP Reddit")
                                li
                                    a(href="https://discord.gg/gtYcjqq76f" rel="nofollow" target="_blank" title="Discord")
                                        img(src="../pics/socials/discord.svg" alt="ENVELOP Discord group")
                                li
                                    a(href="https://envelop.medium.com/" rel="nofollow" target="_blank" title="Medium")
                                        img(src="../pics/socials/medium.svg" alt="Blog about Web 3.0")
                                li
                                    a(href="https://twitter.com/Envelop_project" target="_blank" title="Twitter")
                                        img(src="../pics/socials/twitter.svg" alt="Our twitter")
                                li
                                    a(href="https://t.me/nonfungible_web" rel="nofollow" target="_blank" title="Telegram (DeWeb)")
                                        img(src="../pics/socials/dw-telegram.svg" alt="ENVELOP telegram group (DeWeb)")
                                li
                                    a(href="https://www.facebook.com/profile.php?id=100089484795648" target="_blank" title="Facebook")
                                        img(src="../pics/socials/facebook.svg" alt="ENVELOP Facebook")          
                            
                            ///noindex

            footer.s-footer
                div.container
                    div.row.align-items-center
                        div.col-4.col-lg-3.order-1
                            div.s-logo
                                a(href="http://envelop.is")
                                    img(src="../pics/logo.svg" alt="logo niftsy")
                        div.col-12.col-lg-6.order-3.order-lg-2
                            //noindex
                            div.links Connect with us — <a rel="nofollow" href="mailto:info@envelop.is">info@envelop.is</a> • <a rel="nofollow" href="https://github.com/niftsy/niftsysmarts" target="_blank">Github</a> • <a rel="nofollow" href="https://envelop.medium.com" target="_blank">Medium</a>
                            ///noindex
                        div.col-8.col-lg-3.order-2.order-lg-3


        script(src="../js/script.js")